{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center my-4">Endpoints de SCT</h1>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Categoría: Listar -->
        <div class="col">
            <div class="card h-100 text-center shadow-sm border-0">
                <div class="card-footer border-0 bg-transparent">
                    <h6 class="fw-bold">SCT</h6>
                    <a href="{% url 'sct_list5' %}" class="btn btn-primary w-100 mb-2">sct_list5</a>
                    <a href="{% url 'sct_update5' %}" class="btn btn-secondary w-100 mb-2">sct_update5</a>

                    <a href="{% url 'create_sepa_credit_transfer' %}" class="btn btn-primary w-100 mb-2">create_sepa_credit_transfer</a>
                    <a href="{% url 'create_sepa_credit_transfer2' %}" class="btn btn-danger w-100 mb-2">create_sepa_credit_transfer2</a>
                    <a href="{% url 'list_sepa_credit_transfers' %}" class="btn btn-secondary w-100 mb-2">list_sepa_credit_transfers</a>
                    <a href="{% url 'sct_list0' %}" class="btn btn-secondary w-100 mb-2">sct_list0</a>
                    <a href="{% url 'sct_list1' %}" class="btn btn-secondary w-100 mb-2">sct_list1</a>
                    <a href="{% url 'sct_list2' %}" class="btn btn-secondary w-100 mb-2">sct_list2</a>
                    <a href="{% url 'sct_list3' %}" class="btn btn-secondary w-100 mb-2">sct_list3</a>
                    <a href="{% url 'sct_list4' %}" class="btn btn-secondary w-100 mb-2">sct_list4</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}