<table class="table table-bordered table-striped table-hover table-sm mt-3">
    <thead class="table-dark">
      <tr>
        <th scope="col">Identificador</th>
        <th scope="col">Descripción</th>
        <th scope="col">Formato</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>AZV</td><td>Carga de pagos internacionales</td><td>DTAZV</td></tr>
      <tr><td>CCC</td><td>Carga de transferencias SEPA (contenedor XML)</td><td>XML con mensajes pain.001</td></tr>
      <tr><td>CCT</td><td>Carga de transferencia SEPA (mensaje único)</td><td>pain.001</td></tr>
      <tr><td>CCU</td><td>Transferencias urgentes en euros (no SEPA)</td><td>pain.001 con URGP</td></tr>
      <tr><td>CCX</td><td>Autorización de transferencia SEPA desde centro</td><td>XML con pain.001</td></tr>
      <tr><td>CDB</td><td>Carga adeudo directo SEPA B2B</td><td>pain.008</td></tr>
      <tr><td>CDC</td><td>Carga adeudo SEPA CORE (contenedor XML)</td><td>XML con pain.008</td></tr>
      <tr><td>CDD</td><td>Carga adeudo SEPA CORE</td><td>pain.008</td></tr>
      <tr><td>CDX</td><td>Autorización adeudo SEPA CORE desde centro</td><td>XML con pain.008</td></tr>
      <tr><td>CDZ</td><td>Descarga de estado de pagos adeudo SEPA</td><td>ZIP con pain.002</td></tr>
      <tr><td>CD1</td><td>Carga adeudo SEPA COR1</td><td>pain.008</td></tr>
      <tr><td>CIP</td><td>Transferencias SEPA instantáneas</td><td>pain.001.001.03 / .08</td></tr>
      <tr><td>CIZ</td><td>Estado de pagos SEPA instantáneos</td><td>ZIP con pain.002.001.03</td></tr>
      <tr><td>CRZ</td><td>Estado de pagos SEPA</td><td>ZIP con pain.002</td></tr>
      <tr><td>C1C</td><td>COR1 (contenedor XML)</td><td>XML con pain.008</td></tr>
      <tr><td>C1X</td><td>Autorización COR1 desde centro</td><td>XML con pain.008</td></tr>
      <tr><td>C29</td><td>Resolución por cancelaciones</td><td>camt.029</td></tr>
      <tr><td>C2C</td><td>B2B (contenedor XML)</td><td>XML con pain.008</td></tr>
      <tr><td>C2X</td><td>Autorización B2B desde centro</td><td>XML con pain.008</td></tr>
      <tr><td>C52</td><td>Informe cuenta cliente</td><td>ZIP con camt.052</td></tr>
      <tr><td>C53</td><td>Extracto cuenta cliente</td><td>ZIP con camt.053</td></tr>
      <tr><td>C54</td><td>Notificación de movimientos</td><td>ZIP con camt.054</td></tr>
      <tr><td>C55</td><td>Solicitud de cancelación SEPA</td><td>camt.055</td></tr>
      <tr><td>XCU</td><td>Transferencias urgentes EUR (no SEPA)</td><td>pain.001 (URGP)</td></tr>
      <tr><td>XRT</td><td>Estado SEPA transferencia (UNIFI)</td><td>pain.002</td></tr>
      <tr><td>XRD</td><td>Estado SEPA adeudo (UNIFI)</td><td>pain.002</td></tr>
      <tr><td>XSC</td><td>Transferencia SEPA UNIFI</td><td>pain.001</td></tr>
      <tr><td>XSD</td><td>Adeudo SEPA CORE UNIFI</td><td>pain.008</td></tr>
      <tr><td>YIP</td><td>Transferencia SEPA instantánea</td><td>pain.001.001.03</td></tr>
    </tbody>
  </table>
  